{% extends 'base.html' %}
{% block title %}All User Accounts{% endblock %}

{% block content %}
<h3>Create New User</h3>
<form method="POST" action="{{ url_for('update_user_role', user_id=user[0]) }}" class="d-flex mt-1">
    <select name="new_role" class="form-select form-select-sm me-1">
        <option value="user" {% if user[2] == 'user' %}selected{% endif %}>User</option>
        <option value="plant_manager" {% if user[2] == 'plant_manager' %}selected{% endif %}>Plant Manager</option>
        <option value="superuser" {% if user[2] == 'superuser' %}selected{% endif %}>Superuser</option>
    </select>
    <select name="new_shift" class="form-select form-select-sm me-1">
        <option value="Green" {% if user[3] == 'Green' %}selected{% endif %}>Green</option>
        <option value="Blue" {% if user[3] == 'Blue' %}selected{% endif %}>Blue</option>
        <option value="Orange" {% if user[3] == 'Orange' %}selected{% endif %}>Orange</option>
        <option value="Red" {% if user[3] == 'Red' %}selected{% endif %}>Red</option>
    </select>
    <button type="submit" class="btn btn-sm btn-primary">Update</button>
</form>


<h4>Current Users</h4>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Shift</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>
                {% if user[0] != session['user_id'] %}
                <form method="POST" action="{{ url_for('delete_user', user_id=user[0]) }}" class="d-inline-block" onsubmit="return confirm('Delete this user?');">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
                {% else %}
                <span class="text-muted">Not allowed</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

